<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Suzie's Car Pavillion</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
  </head>

  <body>
    <div class='container'>
      <div class='jumbotron'>
      <h1>Suzie's Car Pavillion</h1>

      <form action='dealership'>
        <div class='form-group'>
          <label for='price'>Enter how much money chew gots for a car bro</label>
          <input type='number' name='price' id='price'class='form-control' >
        </div>
        <div class='form-group'>
          <label for='color'>What color do you want?</label>
          <input type='text' name='color' id='color' class='form-control' placeholder='White, Blue, Black or Red'>
        </div>

        <button type='submit' class='btn btn-sm btn-danger'>Find my car!</button>

      </form>
      </div>
    </div>
  </body>
</html>
